{
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",

  "importOrder": ["<THIRD_PARTY_MODULES>", "^(@emotion|@/styles|@/assets)(.*)$", "^@/(.*)$", "^[./]"],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
